PORT=5000
DB_URL=mongodb+srv://example_DB_Username:example_DB_Password@cluster0.hrjn1tt.mongodb.net/example_db_name?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development


# PORT=5000
# DB_URL=mongodb+srv://tour-mngmnt-db:3txR2j1qDzcNYU8h@cluster0.hrjn1tt.mongodb.net/tour-mngmnt-db?retryWrites=true&w=majority&appName=Cluster0
# NODE_ENV=development


# JWT Configuration

# JWT_ACCESS_KEY=secretKey
# JWT_ACCESS_EXPIRES=1d

# JWT_REFRESH_KEY=refreshKey
# JWT_REFRESH_EXPIRES=30d

# BCRYPT_SALT_ROUNDS=10

# Super Admin credentials

# SUPER_ADMIN_EMAIL=super@gmail.com
# SUPER_ADMIN_PASSWORD=Super1234@

# GOOGLE_CLIENT_SECRET=(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)
# GOOGLE_CLIENT_ID=(492749650011-trq6r9pc63odebnoi1lgve7nj9roejuc.apps.googleusercontent.com)
# GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback


# Express session

# EXPRESSION_SESSION_SECRET=express-session 

# Frontend url

# FRONTEND_URL=http://localhost:5173